<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LuiDJ</title>
	<link rel="shortcut icon" href="/static/assets/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="/static/assets/styles.css">
</head>
<body>
	<header>
		<div class="container">
			<h1>LuiDJ</h1>
			<nav>
				<ul>
					<li>
						<button data-toggle="playlists" class="nav-button">Playlists</button>
					</li>
					<li>
						<button data-toggle="download" class="nav-button active">Baixar músicas</button>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<div class="container">
			<div id="playlists" class="column playlists">
				<h2>Playlists</h2>
				<ul>
					{% for folder in folders %}
						<li>{{ folder }}</option>
					{% endfor %}
				</ul>
				<form method="post" action="{{ url_for('add_folder') }}">
					<legend>Para adicionar uma nova playlist, adicione o nome da playlist no campo abaixo.</legend>
					<div>
						<input type="text" name="new_folder" placeholder="Nome da playlist">
						<button type="submit">
							<span>
								Adicionar playlist
							</span>
						</button>
					</div>
				</form>
			</div>
			<div id="download" class="column download active">
				<h2>Baixar músicas</h2>
				<form method="post" action="{{ url_for('add_music') }}">
					<fieldset>
						<legend>Adicionar em:</legend>
						{% for folder in folders %}
							<label class="field-label">
								<span>{{ folder }}</span>
								<input type="radio" name="folder" id="" value="{{ folder }}" {% if folder == selected_folder %}checked{% endif %}>
							</label>
						{% endfor %}
					</fieldset>
					<div>
						<input type="text" name="music_link" placeholder="Cole o link da música ou do álbum aqui" required>
						<button type="submit">
							<span>Baixar</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</main>
	{% if msg %}
		<div class="message active">
			<p>{{ msg }}</p>
			<button class="btn-close">x</button>
		</div>
	{% endif %}
	<script src="/static/assets/script.js"></script>
</body>
</html>
